/*
Författare: Leander Norberg
Projektnamn: Moment 3
Beskrivning: Praktisk laboration utvecklat i samband med kursen 
Programmering i TypeScript (DT208G ) vid mittuniversitetet, VT2025 
*/

picture, picture img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
    margin: 0;
}

figcaption {
    font-family: 'Noto Serif';
    font-style: italic;
    font-size: 0.9em;
    line-height: 2em;
    color: dimgray;
}