<!--
Författare: Leander Norberg
Projektnamn: Moment 3
Beskrivning: Praktisk laboration utvecklat i samband med kursen 
Programmering i TypeScript (DT208G ) vid mittuniversitetet, VT2025 
-->

<div class="convert">
  <div class="row">
        <h3>Temperatur</h3>
        <input type="number" [(ngModel)]="celsius" (input)="updateFromCelsius()"> °C =
        <input type="number" [(ngModel)]="fahrenheit" (input)="updateFromFahrenheit()"> °F
  </div>

  <hr>

  <div class="row">
    <h3>Längd</h3>
    <input type="number" [(ngModel)]="meters" (input)="updateFromMeters()"> m =
    <input type="number" [(ngModel)]="feet" (input)="updateFromFeet()"> ft
  </div>
</div>
