<!--
Författare: Leander Norberg
Projketnamn: Moment 3
Beskrivning: Praktisk laboration utvecklat i samband med kursen 
Programmering i TypeScript (DT208G ) vid mittuniversitetet, VT2025 
-->

<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Start</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Om sidan</a></li>
        <li><a routerLink="/converter" routerLinkActive="active">Konverterare</a></li>
        <li><a routerLink="/environment" routerLinkActive="active">Utvecklingsmiljö</a></li>
    </ul>
</nav>